:root {
    --resaltado: teal;
    --oscuro: #ba181b;
    --claro: #171f26;
    --texto: #b2b3bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body .watermark {
    background-image: url(watermark.png);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

header {
    width: 100%;
    height: 13%;
    background-color: var(--oscuro);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .menu .logo {
    display: inline-flex;
    align-items: center;
    gap: 15px
}

header .menu .logo img {
    width: 124px;
    padding: 5px
}

header .menu .logo img.logo-gov {
    background-color: #6607099a;
    padding: 10px;
    border-radius: 8px;
}

header .menu .logo .separador {
    width: 2px;
    height: 90px;
    background-color: white;
}

header .menu a {
    color: #b2b3bb;
}

.header .menu ul {
    list-style: none;
}

header .menu ul li {
    font-weight: bold;
    display: inline;
    padding: 10px;
}

header .mobile {
    display: none;
    background-color: var(--oscuro);
    padding: 100px 0;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.hero img {
    width: 15vw;
    margin-bottom: 40px;
    background-color: #e5383b;
    box-shadow: 0 0 10px 0;
}

.hero .botones {
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .botones a {
    display: flex;
    color: white;
    font-size: 2rem;
    background-color: #8d0801b9;
    padding: 20px;
    border-radius: 16%;
    backdrop-filter: blur(2px);
}

.hero .botones i.whatsapp {
    color: #25D366;
}

.hero .botones i.facebook {
    color: #1877F2;
}

.hero .botones i.instagram {
    background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e57bc 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .botones i.mail, .hero .botones i.mobile, .hero .botones i.web {
    color: #eee;
}

@media (max-width: 1440px) {

    header .menu .logo img {
        width: 150px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 120px;
        background-color: white;
    }

    .hero img {
        width: 25vw;
    }

    .hero .botones {
        width: 25vw;
    }

    .hero .botones a {
        padding: 30px;
        font-size: 2.5rem;
    }
}

@media (max-width: 1200px) {

    header .menu .logo img {
        width: 120px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 100px;
        background-color: white;
    }

    .hero img {
        width: 25vw;
    }

    .hero .botones {
        width: 30vw;
    }

    .hero .botones a {
        padding: 30px;
        font-size: 2.5rem;
    }
}

@media (max-width: 1024px) {

    header .menu .logo img {
        width: 120px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 90px;
        background-color: white;
    }

    .hero img {
        width: 30vw;
    }

    .hero .botones {
        width: 30vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {

    header .menu .logo img {
        width: 100px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 70px;
        background-color: white;
    }

    .hero img {
        width: 39vw;
    }

    .hero .botones {
        width: 38vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.5rem;
    }
}

@media (max-width: 700px) {

    header .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
    }

    .hero .botones a {
        font-size: 40px;
        margin: 10px;
    }

    .hero .botones {
        width: 80vw;
    }

    .hero img {
        width: 80vw;
        margin-top: 40px;
        margin-bottom: 30px;
    }

}

@media (max-width: 360px) {
    .menu.desktop {
        display: none;
    }

    .menu.mobile .logo {
        display: inline-flex;
        align-items: center;
        gap: 15px
    }

    .menu.mobile .logo img {
        width: 120px;
        padding: 5px
    }

    .menu.mobile .logo img.logo-gov {
        background-color: #6607099a;
        padding: 10px;
        border-radius: 8px;
    }

    .menu.mobile .logo .separador {
        width: 2px;
        height: 120px;
    }

    .hero .botones {
        width: 100vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.5rem;
    }

    .menu.mobile ul {
        margin-top: 20px
    }

    .hero img {
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}