:root {
    --resaltado: teal;
    --oscuro: #ba181b;
    --claro: #171f26;
    --texto: #b2b3bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body .watermark {
    background-image: url(watermark2.svg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    opacity: 0.4;
}

header {
    width: 100%;
    height: 13%;
    background-color: hsla(0, 96%, 43%);;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .menu .logo {
    display: inline-flex;
    align-items: center;
    gap: 15px
}

header .menu .logo img {
    width: 124px;
    padding: 5px
}

header .menu .logo img.logo-gov {
    background-color: #6607099a;
    padding: 10px;
    border-radius: 8px;
}

header .menu .logo .separador {
    width: 2px;
    height: 90px;
    background-color: white;
}

header .menu a {
    color: #b2b3bb;
}

.header .menu ul {
    list-style: none;
}

header .menu ul li {
    font-weight: bold;
    display: inline;
    padding: 10px;
}

header .mobile {
    display: none;
    background-color: var(--oscuro);
    padding: 100px 0;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    width: 15vw;
    margin-bottom: 40px;
    background-color: hsla(0, 96%, 43%, 0.856);
    box-shadow: 0 0 6px 0 #000000;
}

.hero .botones {
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero .botones a {
    display: flex;
    color: white;
    font-size: 2rem;
    background-color: hsla(0, 96%, 38%, 0.7);
    padding: 20px;
    border-radius: 16%;
    backdrop-filter: blur(2px);
}

.hero .botones i.whatsapp {
    color: #25D366;
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.hero .botones i.facebook {
    color: #1877F2;
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.hero .botones i.instagram {
    background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e57bc 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.hero .botones i.web, .hero .botones i.mail, .hero .botones i.mobile {
    background: linear-gradient(180deg, #909090, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

/* RESPONSIVE DESIGN */

@media (max-width: 1680px) {

    header .menu .logo img {
        width: 100px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 80px;
        background-color: white;
    }

    .hero img {
        width: 22vw;
    }

    .hero .botones {
        width: 20vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.5rem;
    }
}



@media (max-width: 1440px) {

    header .menu .logo img {
        width: 100px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 80px;
        background-color: white;
    }

    .hero img {
        width: 22vw;
    }

    .hero .botones {
        width: 25vw;
    }

    .hero .botones a {
        padding: 22px;
        font-size: 2.5rem;
    }
}

@media (max-width: 1200px) {

    header .menu .logo img {
        width: 90px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 70px;
        background-color: white;
    }

    .hero img {
        width: 22vw;
    }

    .hero .botones {
        width: 25vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.2rem;
    }
}

@media (max-width: 1024px) {

    header .menu .logo img {
        width: 90px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 70px;
        background-color: white;
    }

    .hero img {
        width: 26vw;
    }

    .hero .botones {
        width: 30vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {

    header .menu .logo img {
        width: 90px;
    }

    header .menu .logo .separador {
        width: 2px;
        height: 70px;
        background-color: white;
    }

    .hero img {
        width: 33vw;
    }

    .hero .botones {
        width: 38vw;
    }

    .hero .botones a {
        padding: 20px;
        font-size: 2rem;
    }
}

@media (max-width: 700px) {

    header .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
        padding: 60px;
    }

    .hero .botones a {
        font-size: 2rem;
    }

    .hero .botones {
        width: 40vw;
        gap: 15px;
    }

    .hero img {
        width: 40vw;
        margin-bottom: 30px;
    }

}

@media (max-width: 360px) {

    .menu.desktop {
        display: none;
    }

    .menu.mobile .logo {
        display: inline-flex;
        align-items: center;
        gap: 15px
    }

    .menu.mobile .logo img {
        width: 90px;
    }

    .menu.mobile .logo img.logo-gov {
        background-color: #6607099a;
        padding: 10px;
        border-radius: 8px;
    }

    .menu.mobile .logo .separador {
        width: 2px;
        height: 80px;
    }

    .hero .botones {
        width: 70vw;
    }

    .hero .botones a {
        padding: 15px;
        font-size: 2rem;
    }

    .menu.mobile ul {
        margin-top: 20px
    }

    .hero img {
        width: 65vw;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}


@media (max-width: 200px) {

    .menu.desktop {
        display: none;
    }

    .menu.mobile .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menu.mobile .logo img {
        width: 40vw;
    }

    .menu.mobile .logo img.logo-gov {
        background-color: #6607099a;
        border-radius: 8px;
    }

    .menu.mobile .logo .separador {
        width: 2px;
        height: 70px;
    }

    .hero .botones {
        width: 80vw;
    }

    .hero .botones a {
        padding: 15px;
        font-size: 1rem;
    }

    .menu.mobile ul {
        margin-top: 20px
    }

    .hero img {
        width: 80vw;
        margin-bottom: 30px;
    }
}

@media (max-width: 100px) {

    .menu.desktop {
        display: none;
    }

    .menu.mobile .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .menu.mobile .logo img {
        width: 75vw;
    }

    .menu.mobile .logo img.logo-gov {
        background-color: #6607099a;
        border-radius: 8px;
    }

    .menu.mobile .logo .separador {
        display: none;
    }

    .hero .botones {
        width: 80vw;
    }

    .hero .botones a {
        padding: 15px;
        font-size: 1rem;
    }

    .menu.mobile ul {
        margin-top: 20px
    }

    .hero img {
        width: 80vw;
        margin-bottom: 30px;
    }
}